h1 {
    color: lightblue;
}

body {
    background-color: rgb(66, 65, 65);
}

.card-container {
    /* box-shadow: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card {
   
   margin: 20px;
   border: 1px solid lightblue;
   padding: 20px; 
   color: white; 
}

img {
    height: 300px;
    width: 300px;
}