h1 {
    color: lightblue;
}

body {
    background-color: rgb(66, 65, 65);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px;
    border: 3px solid lightblue;
    padding: 20px; 
    color: white; 
}

img {
    height: 300px;
    width: 300px;
}

.descriptionText {
    text-align: center;
    
}

.headerText {
    border: 1px solid lightblue;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-size-adjust: 50%;
}

.boolText {
    background-color: darkgray;
    color: yellow;
}